/* Display-area styling ======================*/
.display-area {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-graph-container {
  height: 500px;
  width: 90%;
  max-width: 800px;
  margin-top: 40px;
  border-left: 2px solid rgb(153, 153, 153);
  overflow-x: scroll;
}

.graph-positive,
.graph-negative {
  height: 50%;
  width: 100%;
  display: flex;
}

.graph-positive {
  border-bottom: 2px solid rgb(153, 153, 153);
  align-items: end;
}

.positive-bar,
.negative-bar,
.invisible-bar {
  width: 30px;
  height: 50px;
}

.positive-bar {
  border: 1px solid rgb(115, 191, 0);
  border-bottom: none;
}

.negative-bar {
  border: 1px solid rgb(175, 0, 0);
  border-top: none;
}

.display-net,
.display-spent,
.display-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  height: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.spent-head,
.net-head,
.event-result {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.05em solid #d9d9d9;
}

.spent-head h1,
.net-head h1,
.event-result-text {
  font-size: 1.5rem;
  color: #f6fffd;
  font-family: "Roboto", sans-serif;
  margin: 0 30px;
  animation: none;
}

.net-body,
.spent-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.event-result-text {
  font-size: 1rem;
  color: #f6fffd;
  font-family: "Roboto", sans-serif;
  margin: 0 30px;
  animation: none;
}

.positive-result {
  color: rgb(69, 152, 69);
  font-size: 1.5rem;
}

.negative-result {
  color: rgb(219, 0, 0);
  font-size: 1.5rem;
}
/* final stats styling ============*/
.final-parent,
.final-child {
  width: 100%;
  font-size: 1rem;
  color: #f6fffd;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.final-parent {
    margin-bottom: 1em;
    border: 1px solid #d9d9d9;
}

.final-child {
    border-bottom: 1px solid #d9d9d9;
    font-size: 0.5rem;
    flex-direction: row;
}

.final-child p {
    display: inline-block;
    margin: 0.5em 1em;
}

#drop-down {
    display: flex;
    align-items: center;
    padding: 0 1em;
}

/* ================================ */
