@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  box-sizing: border-box;
}

.bg-welcome {
  background-image: url(https://images.pexels.com/photos/2885320/pexels-photo-2885320.jpeg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  position: fixed;
  color: white;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.remove {
  display: none;
}

.text-box {
  width: 50%;
  text-align: center;
  background-color: #020302a9;
  height: 70%;
  border-radius: 10px;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  margin: 2rem;
  transition: all 2s ease-in-out;
}

h1 {
  position: relative;
  margin: 2rem;
  font-size: 60px;
  top: 0;
  /* animation: up 10s linear  down 10s linear infinite; */
  /* animation: upAndDown 30s ease-in-out infinite; */
}

p {
  font-family: "Poppins", sans-serif;
  margin: 0.5rem 3rem;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bolder;
}

hr {
  background-color: #00fbff;
  width: 80%;
  margin-bottom: 30px;
}

.getStarted {
  padding: 1rem;
  font-size: 20px;
  margin-top: 30px;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  background-color: #ffffff72;
  border: none;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

.getStarted:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 8px 10px #00eeff;
  background-color: rgba(0, 0, 0, 0.458);
  color: white;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px) scale(1.3);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes up {
  to {
    transform: translateY(-100px) scale(1.3);
  }

  from {
    transform: translateY(0px);
  }
}

@keyframes down {
  from {
    transform: translateY(-100px) scale(1.3);
  }

  top {
    transform: translateY(0px);
  }
}

.snow,
.snow:before,
.snow:after {
  position: absolute;
  top: -650px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(4px 4px at 100px 50px, #00fff2, transparent),
    radial-gradient(6px 6px at 200px 150px, #ffffff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent),
    radial-gradient(4px 4px at 400px 350px, #00eeff 50%, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent),
    radial-gradient(3px 3px at 50px 200px, #00fbff 50%, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent),
    radial-gradient(3px 3px at 350px 500px, #f6fffd 50%, transparent);
  background-size: 650px 650px;
  animation: snow 30s linear infinite;
  content: "";
  z-index: 10;
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 32s;
  animation-direction: reverse;
}

.snow:before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 32s;
  animation-direction: reverse;
}

@keyframes snow {
  to {
    transform: translateY(650px);
  }
}

.dashboard {
  background: black;
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

.dash-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 92vh;
  max-height: 800px;
}

/* event-list styling ================================== */

.event-list-container {
  width: 22%;
  background-color: #0a0a1b;
  /* height: 100%; */
  border: 2px solid #302f38;
  border-top: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.event-list {
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 300px;
}

.event {
  margin: 0.4em;
  margin-left: 1.8em;
  height: 40px;
  width: 90%;
  border-radius: 6px;
  /* background-color: #3e3e3e; */
  background-image: linear-gradient(to right, #00e0ff, #8f00ff);
  overflow: hidden;
  border: none;
}

.events-text {
  margin: 0 0 0.6em 0;
  font-size: 1.8rem;
  color: #d9d9d9;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 95%;
  flex-direction: column;
}

.search-bar {
  background-color: #d9d9d9;
  width: 80%;
  height: 45px;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
  margin-left: 1em;
}

.search-bar:focus-within {
  outline: none;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 0.3rem; */
  width: 95%;
  height: 45px;
  border-radius: 50px;
  background-color: #d9d9d9;
}

.search-container:focus {
  border: 1px solid black;
}

.search-btn {
  color: black;
  border: none;
  margin-right: 0.5em;
  background-color: #d9d9d9;
}

.refresh-btn {
  min-width: 5%;
  color: black;
  margin-right: 0.5em;
  background-color: #d9d9d9;
}

/* ===================================================== */

/* .workspace { */
/* background: radial-gradient(circle,#4c1582,rgb(35, 19, 69),#0f071a,black); */
/* width: 100%;
  height: 100%;
  display: flex;
  background-color: #0e0b21;
}

.workspace-container {
  width: 80%;
  height: 100%;
  background-color: black;
} */

.pop-up-container {
  /* filter: blur(40px); */
  backdrop-filter: blur(10px);
  position: absolute;
  background-color: #00000090;
  top: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.pop-up {
  width: 100%;
  height: 800px;
  min-width: 500px;
  background-color: #00000052;
  border-radius: 14px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  position: relative;
  top: 0;
  overflow: hidden;
}

.pop-up-event {
  width: 100%;
  height: 670px;
  background-color: #00000052;
  border-radius: 14px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  position: relative;
  top: 0;
}

.pop-up-window {
  /* overflow: hidden; */
  max-width: 700px;
  width: 90%;
  height: 800px;
  background-color: #000000;
  border-radius: 14px;
  box-shadow: 2px 2px 100px 15px #7f55ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-up-slide-window {
  overflow: hidden;
  width: 100%;
  /* min-width: 500px; */
  height: 630px;
}

.trip-name {
  background: transparent;
  padding: 15px;
  font-size: 20px;
  border: 2px solid rgba(255, 255, 255, 0.501);
  border-radius: 4px;
  color: white;
  /* margin-bottom: 40px; */
  width: 100%;
}

.add-participants-list {
  /* margin-top: 1rem; */
  color: white;
  width: 60%;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  padding-top: 0.5rem;
  overflow-y: scroll;
  /* margin-bottom: 30px; */
  max-height: 50%;
}

.trip-name-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 1rem;
  overflow: hidden;
}

.trip-title {
  overflow: hidden;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2.3rem;
  color: #0196e3 !important;
  font-weight: bolder;
}

.font {
  font-family: "Poppins", sans-serif;
  color: white;
}

.addp-title {
  font-size: 1.8rem;
  width: 60%;
  /* margin-top: 3rem; */
  padding: 1rem;
  overflow: hidden;
  color: #0196e3;
  height: 50px;
}

.new-participant {
  width: 100%;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: 70px;
  transition: all 0.2s ease-in-out;
}

.newp-name {
  width: 85%;
  margin-left: 3px;
  background: transparent;
  padding: 13px;
  font-size: 20px;
  border: 2px solid #73727de4;
  border-radius: 4px;
}

.newp-add,
.newp-remove {
  border: none;
  overflow: hidden !important;
}

.newp-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  gap: 10px;
}

.newp-add {
  color: #2eff51e4;
  overflow: hidden;
}

.newp-remove {
  overflow: hidden;
  color: red;
  font-size: 35px !important;
}

/* .newp-add:hover {
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 14px 4px #51ff00;
}

.newp-remove:hover {
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 14px 4px #ff1100e4;
} */

.added-p {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 3px;
  align-items: center;
}

.addedp-name {
  border: 2px solid rgba(255, 255, 255, 0.669);
  padding: 10px;
  font-size: 23px;
  border-radius: 4px;
  width: 85%;
  color: rgb(247, 241, 255);
}

.addedp-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.event-name-input-container-1,
.event-name-input-container-2 {
  /* height: 250px; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  flex-direction: column;
  gap: 0.5rem;
  color: #d9d9d9;
  font-family: "Poppins", sans-serif;
  margin-top: 3em;
}
.event-input-title {
  font-size: 2rem;
  color: #0196e3;
  /* hei */
  /* height: 200px; */
  margin-bottom: 1rem;
}
.event-name-input-container-2 {
  height: 120px;
}

.event-name-input-container-1 input {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  padding: 0 1em;
  margin-bottom: 0.5rem;
  transform: translateY(20%);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.849);
  font-size: 1.2rem;
  border: 2px solid rgba(255, 255, 255, 0.204);
}

.event-name-input-container-1 h3,
.event-name-input-container-2 h3 {
  width: 90%;
  margin-bottom: 5px;
  margin-top: 1rem;
  overflow: hidden;
}

.event-participants-container-1,
.event-participants-container-2 {
  width: 80%;
  max-width: 400px;
  /* display: flex; */
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.event-participants-container-2 {
  height: 550px;
}

.event-participant {
  width: 90%;
  height: 45px;
  margin: 0 1em;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.event-participant-name {
  width: 75%;
  color: #d9d9d9;
  font-family: "Poppins", sans-serif;
}

.participant-contribution-container {
  height: 100%;
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.participant-contribution {
  height: 90%;
  width: 80%;
  background-color: #383838;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: none;
}

.event-next-page {
  width: 50%;
  height: 130px;
}

.next-previous,
.events-settings {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.events-settings a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.event-btn {
  width: 30px;
  height: 30px;
  background-color: #383838;
  border: none;
  border-radius: 15px;
  color: #fff;
}

.event-btn:hover {
  transform: scale(1.2);
}

.not-found {
  color: white;
  font-size: 1.5rem;
}

.event-p {
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.nothing-close {
  display: none;
}

.getStarted {
  padding: 10px 20px;
}

.getStarted:hover {
  box-shadow: 2px 2px 8px 10px #7f55ff;
}

/* nav-bar styling ============================= */

.nav-bar {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.655);
  justify-content: space-between;
  height: 80px;
  border-bottom: 2px solid #302f38;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2rem;
  height: 1.3em;
  overflow: hidden;
  margin-left: 4em;
  font-weight: 800;
}

.nav-tab-container {
  margin-right: 4em;
  list-style: none;
}

.nav-tab {
  color: white;
  display: inline-block;
  padding: 0.2em 0em;
  margin: 0 0.8em;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

.nav-tab:hover {
  border-bottom: 3px solid white;
  padding-top: 0;
}

.nav-tab a {
  text-decoration: none;
}

.selected-tab {
  background-image: linear-gradient(to right, #00e0ff, #8f00ff);
  border-radius: 25px;
  padding: 0.25em 1em;
}

.selected-tab:hover {
  padding: 0.25em 1em;
  border: none;
}

/* ===================================================== */

/* personal styling ===================================== */
.personal-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  margin-top: 3em;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-image: url("lorem-photo.jpeg");
  background-size: cover;
}

.profile-name {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.profile-log {
  background-color: #0a0a1b;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 4em;
  font-family: "Poppins", sans-serif;
}

/* ================================================= */

.p-delete-alert {
  color: rgb(93, 0, 255);
  font-size: 1.7rem;
}
.delete-p-popup {
  height: auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.p-delete-heading {
  color: white;
  font-size: 3rem;
}
.p-delete-continue {
  width: 8rem;
  background: transparent;
  border: 3px solid rgb(17, 255, 0);
  color: rgb(0, 255, 0);
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 3px;
}

.tools {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  width: 100%;
  border-radius: 20px;
  background-image: linear-gradient(to right, #3401ff, #ad00ff);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: none;
}

.tools-container {
  width: 95%;
  height: 350px;
  border-radius: 20px;
  background-color: #141417;
  margin-bottom: 1em;
  margin-right: 1.3em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tools-text {
  font-size: 1.8rem;
  color: #d9d9d9;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  padding-right: 40%;
  padding-top: 0.5em;
}

.tools-content {
  display: block;
  border-radius: 20px;
  width: 85%;
  border-radius: 20px;
  margin-top: 1em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.tools-content button {
  background-color: #3f00f2;
  color: rgb(251, 251, 251);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  overflow: hidden;
}

/* Display-area styling ======================*/
.main-column,
.side-column {
  width: 55%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.side-column {
  width: 23%;
  align-items: flex-end;
}

.graph-event-data-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.display-graph-container {
  width: 55%;
  height: 300px;
  background-color: #141417;
  border-radius: 20px;
  margin: 1em 0 1em 2em;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-graph {
  height: 80%;
  width: 80%;
  border-left: 2px solid rgb(153, 153, 153);
  overflow-x: auto;
}

.event-data {
  width: 38.5%;
  height: 300px;
  background-color: #141417;
  /* background-color: white; */
  border-radius: 20px;
  margin-right: 1.3em;
  margin-left: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  margin: 0.5em 0;
  width: auto;
}

#myChartBar {
  margin: 0 1em;
}

.event-data-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.display-net,
.display-spent,
.display-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;

  background-color: #141417;
  border-radius: 20px;
}

.display-net {
  overflow-y: auto;
  height: 490px;
  margin: 1em 1.3em 1em 0;
}

.display-spent {
  height: 550px;
  margin: 0 1em 1em 2em;
  width: min(95%, calc(100% - 3em));
  overflow-y: auto;
}

.spent-head,
.net-head,
.event-result {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  /* border-bottom: 0.05em solid #d9d9d9; */
}

.spent-head h1,
.net-head h1,
.event-data-head h1,
.event-result-text {
  font-size: 1.5rem;
  color: #00ddff;
  font-family: "Poppins", sans-serif;
  margin: 0 30px;
  animation: none;
  overflow: hidden;
  padding: 1em 0;
}

.event-data-head h1 {
  margin: 0;
  padding: 0.6em 1em;
}

.net-body,
.spent-body {
  width: 100%;
  overflow-y: auto;
}

.net-head {
  height: 100px;
}

.spent-head {
  margin-top: 3em;
  width: 95%;
  max-width: 700px;
}

.spent-body {
  width: 95%;
  max-width: 700px;
}

.spent-name,
.spent-paid,
.spent-to-pay {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: #d9d9d9;
  overflow: hidden;
  animation: none;
  min-width: 100px;
}

.spent-name {
  margin-left: 5%;
  width: 60%;
}

.spent-paid {
  color: #24ff00;
  min-width: 100px;
  text-align: right;
}

.spent-to-pay {
  min-width: 130px;
  text-align: right;
  color: #d80000;
}

.event-result-text {
  font-size: 1rem;
  color: #f6fffd;
  font-family: "Poppins", sans-serif;
  margin: 0 30px;
  animation: none;
}

.positive-result {
  color: #24ff00;
  font-size: 1.3rem;
}

.negative-result {
  color: #d80000;
  font-size: 1.3rem;
  font-weight: 700;
}

/* final stats styling ============*/
.final-parent {
  width: 95%;
  max-width: 600px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  overflow:visible;
  min-height: min-content;
  background-color: #000000;
  margin-top: 2em;
  border-radius: 15px;
  /* border-bottom-left-radius: 0; */
  /* border-bottom-right-radius: 0; */
  /* box-shadow: 2px 2px 15px 10px #170068; */
  /* border: 1px solid #d9d9d9; */
}

label {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.5em 0.6em;
  padding-left: 1em;
}

/* =========================================== */

.accordion__label {
  display: block;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: rgba(65, 65, 65, 0.1);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: #1a0486b6;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.accordion__content p {
  display: block;
}
/* =========================================== */
/* Custom Scroll Bar */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25em;
  background: rgb(59, 59, 59);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95);
}

.net-body::-webkit-scrollbar-track {
  background-color: #141417;
}

.spent-body::-webkit-scrollbar-track {
  background-color: #141417;
}
/* browser support */
@supports (scrollbar-color: rgb(59, 59, 59), black) {
  * {
    scrollbar-color: rgb(59, 59, 59), black;
  }
}

/* =============================================== */
